<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css'
        integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
    <style type="text/css">
        .del {
            text-decoration: line-through;
            color: #ccc;
        }

        [v-cloak] {
            display: none;
        }

        button {
            outline: none !important;
        }
    </style>
</head>

<div class="container" id="app">
    <div class="page-header">
        <h1>TODO <small>给萌萌的备忘录</small></h1>
    </div>


    <div class="panel panel-default ">
        <!-- Default panel contents -->
        <div class="panel-heading ">
            <h1 class=".panel-title h3" v-cloak>{{title}}</h1>
        </div>
        <div class="panel-body">
            <input type="text" id="input" class="form-control" v-model="newTodo" @change.13="addTodo">
        </div>

        <!-- List group -->
        <ul class="list-group">

            <li class="list-group-item" v-for='todo in todoList' v-cloak :class={del:todo.isAccomplish}
                @dblclick="editTodo(todo)">
                <div v-show="edittodo !== todo">
                    <input type="checkbox" v-model="todo.isAccomplish"> {{ todo.title }}

                    <button type="button" class="btn btn-danger btn-xs pull-right"
                        @click="deletTodo(todo)">&times;</button>
                    <button type="button" class="btn btn-success btn-xs pull-right" @click="uptodo(todo)">↑</button>
                    <button type="button" class="btn btn-info btn-xs pull-right" @click="stick(todo)">置顶</button>
                </div>
                <input type="text" class="form-control" v-show="edittodo == todo" v-model="todo.title"
                    @blur="noEdittodo" v-focus='edittodo == todo'>
            </li>




        </ul>

        <div class="panel-footer ">
            <ul class="nav nav-pills">
                <li role="presentation" :class="{active:hash == '#all'}"><a href="#all">全部</a></li>
                <li role="presentation" :class="{active:hash == '#unfinish'}"><a href="#unfinish">未完成</a></li>
                <li role="presentation" :class="{active:hash == '#finish'}"><a href="#finish">已完成</a></li>
            </ul>
        </div>
    </div>
</div>

<body>

</body>
<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
<script src="https://cdn.jsdelivr.net/npm/uuid@latest/dist/umd/uuidv4.min.js"></script>
<script>
    new Vue({
        el: '#app',
        created() {
            this.hash = location.hash ? location.hash : '#all'

            window.onhashchange = () => {
                this.hash = location.hash
            }
            this.todos = localStorage.getItem(this.todoMvcKey) ? JSON.parse(localStorage.getItem(this
                .todoMvcKey)) : this.todos
        },
        data: {
            index: '',
            todoMvcKey: 'todoMvcKey',
            edittodo: '',
            hash: '',
            newTodo: '',
            todos: [{
                id: 1,
                title: '抽烟',
                isAccomplish: true
            }, {
                id: 2,
                title: '喝酒',
                isAccomplish: false
            }, {
                id: 3,
                title: '烫头',
                isAccomplish: false
            }]
        },

        methods: {
            generateUuid() {
                return uuidv4().replaceAll('-', '')
            },
            addTodo() {
                let obj = {
                    id: this.generateUuid(),
                    title: this.newTodo,
                    isAccomplish: false
                }
                this.todos.push(obj)
                this.newTodo = ''
            },
            deletTodo(currentItem) {
                console.log(currentItem);
                // this.currentItem = currentItem
                this.todos = this.todos.filter((value) => {
                    return value.id != currentItem.id
                })

            },
            editTodo(todo) {
                this.edittodo = todo
            },
            noEdittodo() {
                this.edittodo = ''

            },

            uptodo(currentItem) {
                this.todos.forEach((value, index) => {
                    if (value == currentItem) {
                        this.index = index
                    }

                });
                if (this.index != 0) {
                    this.todos[this.index - 1] = this.todos.splice(this.index, 1, this.todos[this
                        .index - 1])[0]
                }

            },
            //置顶功能
            stick(currentItem) {
                this.todos.forEach((value, index) => {
                    if (value == currentItem) {
                        this.index = index
                    }
                });
                this.todos = this.todos.splice(this.index, 1).concat(this.todos)


            }
        },
        computed: {
            //根据has改变标题文字内容
            title() {
                let titleContent = ''
                if (this.hash == '#finish') {
                    let Num = this.todos.filter((value) => {
                        return value.isAccomplish
                    }).length
                    titleContent = '你已经完成' + Num + '件事了哦'
                    return titleContent
                } else {
                    let Num = this.todos.filter((value) => {
                        return !value.isAccomplish
                    }).length
                    titleContent = '你还有' + Num + '件事情没有完成'
                    return titleContent
                }




            },
            todoList() {
                if (this.hash == '#finish') {
                    console.log('finish');
                    return this.todos.filter((value) => {
                        return value.isAccomplish
                    })
                } else if (this.hash == '#unfinish') {
                    console.log('unfinish');

                    return this.todos.filter((value) => {
                        return !value.isAccomplish
                    })
                } else {
                    console.log('all');
                    return this.todos
                }
            }
        },
        directives: {
            focus(el, bindings) {
                if (bindings.value) {
                    el.focus()
                }
            }
        },
        watch: {
            todos: {
                deep: true,
                handler(newval, oldVal) {
                    localStorage.setItem(this.todoMvcKey, JSON.stringify(newval))
                }
            },
        },
    })
</script>

</html>